<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <meta name="viewport" content="width=320,maximum-scale=1.3,user-scalable=no">
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="./js/customer_cookie.js"></script>
    <title>person</title>
</head>
<body style="background-color:#f2f2f2;">
    <div class="person-card">
        <img src="./images/card.png"/>
        <div class="phone" id="cellphone">*******</div>
        <div class="text">
            <p>姓名：<span id="customer_name">***</span></p>
            <p>充值时间：<span id="open_date">***</span></p>
            <p>有效期：永久有效</p>
        </div>
        <div class="pocket">
            <p>余额&nbsp;<span id="rest_amount">***</span></p>
        </div>
    </div>
    <table id="account_detail">
        <tr>
            <caption>资金明细</caption>
        </tr>
    </table>
</body>
<script type="text/javascript">
    $(function(){
        $.ajax({
               type: "POST",
               url: "../cu/cu_detail",
               data:{},
               success: function(data){
                   if (data.code == 0) {
                    $(".accountItem").remove()
                    $("#customer_name").text(data.data.customer_name)
                    $("#open_date").text(data.data.open_date)
                    $("#cellphone").text(data.data.cellphone)
                    $("#rest_amount").text(data.data.rest_amount)
                    var hval =''
                    for(var i=0;i<data.data.account_detail.length;i++){
                        var item =data.data.account_detail[i]
                        hval = hval + '<tr class="accountItem"><td class="table-time">'+item.account_time+'</td><td>'+item.operator+'</td><td>'+item.type+'</td><td>'+item.amount+'</td></tr>'
                    }
                    $("#account_detail").append(hval)  
                   }else if (data.code == 4301) {
                       alert(data.msg)
                   }     
                  }
            });
    });
</script>
</html>